<!DOCTYPE html>
<html lang="en">

<head>
  <!-- !required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- index main-mobile css -->
  <link rel="stylesheet" href="../static/css/index/mainMobile.css" />
  <!-- index tablet css -->
  <link href="../static/css/index/table.css" media="(min-width: 600px)" rel="stylesheet">
  <!-- index desktop css -->
  <link href="../static/css/index/desktop.css" media="(min-width: 900px)" rel="stylesheet">
  <!-- icon font-awesome css -->
  <link rel="stylesheet" href="../static/css/all.min.css" />
  <!-- common css -->
  <link rel="stylesheet" href="../static/css/common.css" />
</head>

<body>
  <div id="wrapper">
    <nav class="navbar-side sidebar">
      <div class="nav-container">
        <a class="navbar-brand" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text"><span>Brand</span></div>
        </a>
        <hr class="sidebar-divider">
        <ul class="navbar-nav" id="sidebar-ul">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">
              <i class="fas fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile.html">
              <i class="fas fa-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table.html">
              <i class="fas fa-table"></i><span>Table</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">
              <i class="far fa-user-circle"></i><span>Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register.html">
              <i class="fas fa-user-circle"></i><span>Register</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <!--!Navbar Top-->
      <div class="navbar-top d-flex" id="page-top">
        <div class="container-fluid d-flex">
          <button id="sidebarToggleTop" class="btn-link" type="button"><i class="fas fa-bars"></i></button>
          <form class="navbar-search d-flex">
            <div class="input-group ">
              <input class="nav-search" type="text" placeholder="Search for ...">
              <button class="btn btn-primary btn-hover" type="button">
                <i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>
        <ul class="navbar-nav-ul d-flex">
          <li class="nav-item">
            <a class="dropdown-toggle nav-link search-icon-nav" href="#"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item notific-span">
            <a class="dropdown-toggle nav-link" href="#"><span>3+</span><i class="fas fa-bell fa-fw"></i></a>
          </li>
          <li class="nav-item notific-span">
            <a class="dropdown-toggle nav-link" href="#"><span class="badge bg-danger badge-counter">7</span><i
                class="fas fa-envelope fa-fw"></i></a>
          </li>
          <div class="topbar-divider"></div>
          <li class="nav-item avatar-n">
            <p><span class="avatar-text">Valerie Luna</span></p>
            <div class="avatar-nav"></div>
          </li>
        </ul>
      </div>
      <!--!Top Nav ends-->


      <!--!Index's Main contents start here-->
      <div class="index-content container-main">
        <div class="dashboard-header  d-flex justify-between">
          <!--!Dashboard header-->
          <h3>Dashboard</h3>
          <a href="#" class="generate-dash-btn"><i class="fas fa-download fa-sm text-white-50"></i>Generate Report</a>
        </div>
        <!--!Indo cards-->
        <div class="income-inf-row row">
          <!--!Card no1-->
          <div class="col-income">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <div class="card-span"><span style="color: rgb(78, 115, 223);">Earnings (monthly)</span></div>
                  <div class="card-price"><span>$40,000</span></div>
                </div>
                <div class="card-icon">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
          <!--!Card no2-->
          <div class="col-income">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <div class="card-span"><span style="color: rgb(28, 200, 138);">Earnings (monthly)</span></div>
                  <div class="card-price"><span>$215,000</span></div>
                </div>
                <div class="card-icon">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
          <!--!Card no3-->
          <div class="col-income">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <div class="card-span"><span style="color: rgb(54, 185, 204);">Tasks</span></div>
                  <div class="card-price d-flex card-task">
                    <span>50%</span>
                    <div class="progress3">
                      <div class="progress-bar3"></div>
                    </div>
                  </div>
                </div>
                <div class="card-icon">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
          <!--!Card no4-->
          <div class="col-income">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                  <div class="card-span"><span style="color: rgb(246, 194, 62);">PENDING REQUESTS</span></div>
                  <div class="card-price"><span>18</span></div>
                </div>
                <div class="card-icon">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--!Earning Row starts here-->
        <div class="overview-row row d-flex">
          <!--First-->
          <div class="earnings ">
            <div class="earning-container row2-bgEdit">
              <!--head of earning chart-->
              <div class="earning-header d-flex justify-between">
                <h6 class="earning-header-text">Earnings Overview</h6>
                <button class="button-nobg" type="button"><i class="fas fa-ellipsis-v "></i></button>
              </div>
              <!--body of earning chart-->
              <div class="earning-body">
                <img src="./img/dashboard1.png" alt="Earning img">
              </div>
            </div>
          </div>
          <div class="revenue">
            <div class="revenue-container row2-bgEdit">
              <!--head of earning chart-->
              <div class="revenue-header d-flex justify-between">
                <h6 class="revenue-header-text">Revenue Sources</h6>
                <button class="button-nobg" type="button"><i class="fas fa-ellipsis-v "></i></button>
              </div>
              <!--body of earning chart-->
              <div class="revenue-body d-flex">
                <img src="./img/revenue-img.png" alt="Revenue img">
              </div>
            </div>
          </div>
        </div>
        <!--!Projects and color rows-->
        <div class="projects-row row">
          <!--!project and to do list-->
          <div class="project-todol">
            <!--project-->
            <div class="project-first row2-bgEdit">
              <!--!head-->
              <div class="project-head earning-header d-flex justify-between">
                <h6 class="earning-header-text">Projects</h6>
              </div>
              <!--!body-->
              <div class="project-body">
                <!--!progress-bar 1-->
                <div class="project-progress pr-prog-bar1 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Server migration</h6>
                    <h6>20%</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent1"></div>
                  </div>
                </div>
                <!--!progress-bar 2-->
                <div class="project-progress pr-prog-bar2 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Sales tracking</h6>
                    <h6>40%</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent2"></div>
                  </div>
                </div>
                <!--!progress-bar 3-->
                <div class="project-progress pr-prog-bar3 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Customer Database</h6>
                    <h6>60%</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent3"></div>
                  </div>
                </div>
                <!--!progress-bar 4-->
                <div class="project-progress pr-prog-bar4 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Payout Details</h6>
                    <h6>80%</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent4"></div>
                  </div>
                </div>
                <!--!progress-bar 5-->
                <div class="project-progress pr-prog-bar5 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Account setup</h6>
                    <h6>Complete!</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent5"></div>
                  </div>
                </div>
              </div>
            </div>

            <!--to do-->
            <div class="todolist row2-bgEdit">
              <div class="project-head earning-header d-flex justify-between">
                <h6 class="earning-header-text">Todo List</h6>
              </div>
              <ul class="todo-ul">
                <li>
                  <div class="list-group d-flex justify-between">
                    <div class="list-col1 d-flex flex-direction-column">
                      <h6>Lunch meeting</h6>
                      <span>10:30 AM</span>
                    </div>
                    <div class="li-col2">
                      <input type="checkbox" name="checkbox" id="checkbox">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-group d-flex justify-between">
                    <div class="list-col1 d-flex flex-direction-column">
                      <h6>Lunch meeting</h6>
                      <span>11:30 AM</span>
                    </div>
                    <div class="li-col2">
                      <input type="checkbox" name="checkbox" id="checkbox">
                    </div>
                  </div>
                </li>
                <li class="last-todo-li">
                  <div class="list-group d-flex justify-between">
                    <div class="list-col1 d-flex flex-direction-column">
                      <h6>Lunch meeting</h6>
                      <span>12:30 AM</span>
                    </div>
                    <div class="li-col2">
                      <input type="checkbox" name="checkbox" id="checkbox">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>



          <!--!Colors-->
          <div class="alert-colors d-flex ">
            <div class="color-column row2-bgEdit2" style="background-color: #4e73df;"><div class="color-container d-flex flex-direction-column">
              <p>Primary</p>
              <p>#4e73df</p>
            </div></div>
            <div class="color-column row2-bgEdit2" style="background-color: #1cc88a;"><div class="color-container d-flex flex-direction-column">
              <p>Success</p>
              <p>#1cc88a</p>
            </div></div>
            <div class="color-column row2-bgEdit2" style="background-color: #36b9cc;"><div class="color-container d-flex flex-direction-column">
              <p>Info</p>
              <p>#36b9cc</p>
            </div></div>
            <div class="color-column row2-bgEdit2" style="background-color: #f6c23e;"><div class="color-container d-flex flex-direction-column">
              <p>Warning</p>
              <p>#f6c23e</p>
            </div></div>
            <div class="color-column row2-bgEdit2" style="background-color: #e74a3b;"><div class="color-container d-flex flex-direction-column">
              <p>Danger</p>
              <p>#e74a3b</p>
            </div></div>
            <div class="color-column row2-bgEdit2" style="background-color: #858796;"><div class="color-container d-flex flex-direction-column">
              <p>Secondary</p>
              <p>#858796</p>
            </div></div>
          </div>
        </div>




        <div class="footer">
          <footer>
            <span>Copyright © Brand 2021</span>
          </footer>
        </div>
      </div>





    </div>


    <a class="page-up-fixed" href="#page-top"><i class="fas fa-angle-up"></i></a>

  </div>
</body>

</html>