<!DOCTYPE html>
<html lang="en">

<head>
  <!-- !required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <!-- profile main-mobile css -->
  <link href="../static/css/profile/mainMobile.css" rel="stylesheet">
  <!-- profile tablet css -->
  <link href="../static/css/profile/table.css" media="(min-width: 600px)" rel="stylesheet">
  <!-- profile desktop css -->
  <link href="../static/css/profile/desktop.css" media="(min-width: 900px)" rel="stylesheet">
  <!-- icon font-awesome css -->
  <link href="../static/css/all.min.css" rel="stylesheet">
  <!-- common css -->
  <link href="../static/css/common.css" rel="stylesheet">
</head>

<body>
  </script>
  <div id="wrapper">
    <nav class="navbar-side sidebar">
      <div class="nav-container">
        <a class="navbar-brand" href="#">
          <div class="sidebar-brand-icon"><i class="fas"></i></div>
          <div class="sidebar-brand-text"><span><br>The Language Center</span></div>
        </a>
        <hr class="sidebar-divider">
        <ul class="navbar-nav" id="sidebar-ul">
            <li class="nav-item">
              <a class="nav-link active" href="/getprofileteacher">
                <i class="#"></i>
                <span>Thông tin giáo viên</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getdataclass_teacher">
                <i class="#"></i><span>Lớp học đang giảng dạy</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getnumberofteach">
                <i class="#"></i><span>Chấm công</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getsalary">
                  <i class="#"></i><span>Lương</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                  <i class="#"></i><span>Đăng xuất</span>
              </a>
            </li>
            
          </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <!--!Navbar Top-->
      
            <div class="navbar-top d-flex" id="page-top">
                <a href="/getdetailclass_teacher/{{datadetail_grade[2]}}"><span>&#8592; Quay lại</span></a>  
       
        <ul class="navbar-nav-ul d-flex">
          <li class="nav-item">
            <a class="dropdown-toggle nav-link search-icon-nav" href="#"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item notific-span">
            <a class="dropdown-toggle nav-link" href="#"><span>3+</span><i class="fas fa-bell fa-fw"></i></a>
          </li>
          <li class="nav-item notific-span">
            <a class="dropdown-toggle nav-link" href="#"><span class="badge bg-danger badge-counter">7</span><i
                class="fas fa-envelope fa-fw"></i></a>
          </li>
          <div class="topbar-divider"></div>
          <li class="nav-item avatar-n">
            <p><span class="avatar-text">{{data[0]}}
            </span></p>
            <div class="avatar-nav" style="background-image: url({{URL_Img}});"></div>
          </li>
        </ul>
      </div>
      <!--!Top Nav ends-->

      <!--!Index's Main contents start here-->
      <div class="index-content container-main">

        <!--!Dashboard header-->
        <div class="prof-header  d-flex justify-between">
          <h3>Thông tin học viên</h3>
        </div>
        <div class="row-profile-container d-flex">
          <!--!Row 1-->
          <div class="row-prof1">
            <!--!Profile img-->
            <div class="col-profile prof-col1 margin-row-prof shadow-edit">
              <div class="prof-body pr-body2">
                <img src="{{url_student}}" alt="avatar">
                <div>
                  <button class="button-profile" type="button">Ảnh học viên</button>
                </div>
              </div>
            </div>
          </div>

          <!--!Second column of Row 1-->
          <div class="row-prof2 ">
            <!--!User Settings-->
            <div class="user-setting margin-row-prof shadow-edit">
              <div class="user-setting-head project-head">
                <h6>Thông tin cá nhân</h6>
              </div>
              <div class="user-setting-body project-body">
                <form action="{{url_for('updategrade')}}" method="POST">
                  <!--row1-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="username"><strong>Họ tên</strong></label>
                      <p class="form-control-prof" type="text" id="username" placeholder="VD: Nguyễn Văn A"
                        name="username">
                        {{data_student[1]}}
                      </p>
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="email"><strong>Mã học viên</strong></label>
                      <p class="form-control-prof" type="email" id="email" placeholder="user@example.com"
                        name="emailAdress">
                        {{data_student[0]}}
                      </p>
                    </div>
                  </div>
                  <!--row2-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="age"><strong>Tên lớp</strong></label>
                      <p input class="form-control-prof" type="text" id="age" placeholder="VD: 19" name="age">
                        {{datadetail_grade[1]}}
                      </p>
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Mã lớp</strong></label>
                      <p class="form-control-prof" type="text" id="nuber-phone" placeholder="VD: 09832xxx" name="nuber-phone">
                        {{datadetail_grade[2]}}
                      </p>
                    </div>
                  </div>

                  </div>
                  <!-- <div class="form-row">
                    <div class="form-row-button">
                      <button class="button-profile" type="button">Lưu thay đổi</button>
                    </div>
                  </div> -->
                </form>
              </div>

            </div>
            <!-- !Contact Settings -->
           
          </div>
        </div>

        <div class="form-set-row" style="margin-bottom:20px">
            <div class="form-padding-row">
            <div class="from-setting-container shadow-edit">
              <!--Header-->
              <div class="project-head earning-header d-flex justify-between">
                <h6 class="earning-header-text">Điểm</h6>
              </div>
              <!--body-->
              <div class="user-setting-body project-body" style="width:75vw;">
                <form action="{{url_for('updategrade')}}" method="post">
                    <div class="form-row d-flex justify-between">
                        <div class="form-row-col d-flex flex-direction-column">
                          <label class="form-label" for="age"><strong>Điểm giữa khóa</strong></label>
                          <input input class="form-control-prof" type="number" step="0.01" placeholder="{{datadetail_grade[3]}}" id="midterm" name="midterm">
                            
                          </input>
                        </div>
                        
                        <div class="form-row-col d-flex flex-direction-column">
                          <label class="form-label" for="lastname"><strong>Điểm cuối khóa</strong></label>
                          <input class="form-control-prof" type="number" step="0.01" placeholder="{{datadetail_grade[4]}}" id="finalterm" name="finalterm">
                          </input>
                        </div>
                      </div>
                      <div class="form-row d-flex justify-between">
                        <div class="form-row-col d-flex flex-direction-column">
                          <label class="form-label" for="age"><strong>Điểm khoá học</strong></label>
                          <p input class="form-control-prof" type="text">
                            {{datadetail_grade[6]}}
                          </p>
                        </div>
                      <button class="button-profile" type="submit">Lưu điểm</button>
                </form>
              </div>
            </div>
          </div> 
        </div>
        <div class="form-set-row" style="margin-top:20px">
          <div class="form-padding-row">
          <div class="from-setting-container shadow-edit">
            <!--Header-->
            <div class="project-head earning-header d-flex justify-between">
              <h6 class="earning-header-text">Nhận xét của giáo viên</h6>
            </div>
            <!--body-->
            <div class="user-setting-body project-body" style="width:75vw;">
              <form>
                    <div style="height: 50px;">
                        <input  class="form-control-prof" type="text" id="cmt" placeholder="{{datadetail_grade[5]}}" name="cmt">
                          </input>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <a class="page-up-fixed" href="#page-top"><i class="fas fa-angle-up"></i></a>

  </div>

</body>

</html>