<!DOCTYPE html>
<html lang="en">

<head>
  <!-- !required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <!-- profile main-mobile css -->
  <link href="../static/css/profile/mainMobile.css" rel="stylesheet">
  <!-- profile tablet css -->
  <link href="../static/css/profile/table.css" media="(min-width: 600px)" rel="stylesheet">
  <!-- profile desktop css -->
  <link href="../static/css/profile/desktop.css" media="(min-width: 900px)" rel="stylesheet">
  <!-- icon font-awesome css -->
  <link href="../static/css/all.min.css" rel="stylesheet">
  <!-- common css -->
  <link href="../static/css/common.css" rel="stylesheet">
</head>

<body>
  </script>
  <div id="wrapper">
    <nav class="navbar-side sidebar">
      <div class="nav-container">
        <a class="navbar-brand" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text"><span>THE CENTER LANGUAGE</span></div>
        </a>
        <hr class="sidebar-divider">
        <ul class="navbar-nav" id="sidebar-ul">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('getName')}}">
              <i class="#"></i>
              <span>Thông tin học viên</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getnowclass">
              <i class="#"></i><span>Lớp học hiện tại</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getgrade">
              <i class="#"></i><span>Kết quả học tập</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/navTution">
                <i class="#"></i><span>Thông tin học phí</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="#"></i><span>Đăng xuất</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <!--!Navbar Top-->
      <div class="navbar-top d-flex" id="page-top">
        <a href="/getdetailclass/{{id}}"><span>&#8592; Quay lại</span></a>  
      </div>
      <!--!Top Nav ends-->

      <!--!Index's Main contents start here-->
      <div class="index-content container-main">

        <!--!Dashboard header-->
        <div class="prof-header  d-flex justify-between">
          <h3>Thông tin học viên</h3>
        </div>
        <div class="row-profile-container d-flex">
          <!--!Row 1-->
          <div class="row-prof1">
            <!--!Profile img-->
            <div class="col-profile prof-col1 margin-row-prof shadow-edit">
              <div class="prof-body pr-body2">
                <img src="{{URL_img}}" alt="avatar">
                <div>
                  <button class="button-profile" type="button">Ảnh học viên</button>
                </div>
              </div>
            </div>
            <!--!Projects Profile-->
            <div class="col-profile prof-col2 margin-row-prof shadow-edit">
              <!--!head-->
              <!--!body-->
              <div class="project-body">
                <!--!progress-bar 5-->
                <div class="project-progress pr-prog-bar4 d-flex flex-direction-column">
                  </div>
              </div>
            </div>
          </div>

          <!--!Second column of Row 1-->
          <div class="row-prof2 ">
            <!--!User Settings-->
            <div class="user-setting margin-row-prof shadow-edit">
              <div class="user-setting-head project-head">
                <h6>Thông tin cá nhân</h6>
              </div>
              <div class="user-setting-body project-body">
                <form>
                  <!--row1-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="username"><strong>Họ tên</strong></label>
                      <p class="form-control-prof" type="text" id="username" placeholder="VD: Nguyễn Văn A"
                        name="username">
                        {{data[1]}}
                      </p>
                    </div>
                  </div>
                  <!--row2-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="age"><strong>Mã học viên</strong></label>
                      <p input class="form-control-prof" type="text" id="age" placeholder="VD: 19" name="age">
                        {{data[0]}}
                      </p>
                    </div>
                  </div>
                  </div>
                </form>
              </div>

            </div>
            <!-- !Contact Settings -->
            
          </div>
        </div>

       
      <div class="footer">
        <footer>
          <span>Copyright © Brand 2021</span>
        </footer>
      </div>

    </div>



  </div>

  <a class="page-up-fixed" href="#page-top"><i class="fas fa-angle-up"></i></a>

  </div>

</body>

</html> 