<!DOCTYPE html>
<html lang="en">

<head>
  <!-- !required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <!-- profile main-mobile css -->
  <link href="../static/css/profile/mainMobile.css" rel="stylesheet">
  <!-- profile tablet css -->
  <link href="../static/css/profile/table.css" media="(min-width: 600px)" rel="stylesheet">
  <!-- profile desktop css -->
  <link href="../static/css/profile/desktop.css" media="(min-width: 900px)" rel="stylesheet">
  <!-- icon font-awesome css -->
  <link href="../static/css/all.min.css" rel="stylesheet">
  <!-- common css -->
  <link href="../static/css/common.css" rel="stylesheet">
</head>

<body>
  </script>
  <div id="wrapper">
    <nav class="navbar-side sidebar">
      <div class="nav-container">
        <a class="navbar-brand" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text"><span>TEC</span></div>
        </a>
        <hr class="sidebar-divider">
        <ul class="navbar-nav" id="sidebar-ul">
          <li class="nav-item">
            <a class="nav-link active" href="studentProfile.html">
              <i class="#"></i>
              <span>Thông tin</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="classInfo.html">
              <i class="#"></i><span>Lớp học hiện tại</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="classList.html">
              <i class="#"></i><span>Đăng kí lớp học</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/navTution">
                <i class="#" ></i><span>Thông tin học phí</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <!--!Navbar Top-->
      <div class="navbar-top d-flex" id="page-top">
        <div class="container-fluid d-flex">
          <button id="sidebarToggleTop" class="btn-link" type="button"><i class="fas fa-bars"></i></button>
          <form class="navbar-search d-flex">
            <div class="input-group ">
              <input class="nav-search" type="text" placeholder="Tìm kiếm ...">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>
        <ul class="navbar-nav-ul d-flex">
          <li class="nav-item">
            <a class="dropdown-toggle nav-link search-icon-nav" href="#"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item notific-span">
            <a class="dropdown-toggle nav-link" href="#"><span>3+</span><i class="fas fa-bell fa-fw"></i></a>
          </li>
          <li class="nav-item notific-span">
            <a class="dropdown-toggle nav-link" href="#"><span class="badge bg-danger badge-counter">7</span><i
                class="fas fa-envelope fa-fw"></i></a>
          </li>
          <div class="topbar-divider"></div>
          <li class="nav-item avatar-n">
            <p><span class="avatar-text">{{data[1]}}
            </span></p>
            <div class="avatar-nav" style="background-image: url({{URL_Img}});"></div>
          </li>
        </ul>
      </div>
      <!--!Top Nav ends-->

      <!--!Index's Main contents start here-->
      <div class="index-content container-main">

        <!--!Dashboard header-->
        <div class="prof-header  d-flex justify-between">
          <h3>Thông tin học viên</h3>
        </div>
        <div class="row-profile-container d-flex">
          <!--!Row 1-->
          <div class="row-prof1">
            <!--!Profile img-->
            <div class="col-profile prof-col1 margin-row-prof shadow-edit">
              <div class="prof-body pr-body2">
                <img src="{{URL_Img}}" alt="dog img">
                <div>
                  <button class="button-profile" type="button">Ảnh học viên</button>
                </div>
              </div>
            </div>
            <!--!Projects Profile-->
            <div class="col-profile prof-col2 margin-row-prof shadow-edit">
              <!--!head-->
              <div class="project-head earning-header d-flex justify-between">
                <h6 class="earning-header-text">Kết quả học tập</h6>
              </div>
              <!--!body-->
              <div class="project-body">
                <!--!progress-bar 1-->
                <div class="project-progress pr-prog-bar1 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Listening</h6>
                    <h6>3.5/9.0</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent1"></div>
                  </div>
                </div>
                <!--!progress-bar 2-->
                <div class="project-progress pr-prog-bar2 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Speaking</h6>
                    <h6>4.5/9.0</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent2"></div>
                  </div>
                </div>
                <!--!progress-bar 3-->
                <div class="project-progress pr-prog-bar3 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Reading</h6>
                    <h6>6.5/9.0</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent3"></div>
                  </div>
                </div>
                <!--!progress-bar 4-->
                <div class="project-progress pr-prog-bar4 d-flex flex-direction-column">
                  <div class="progress-top d-flex justify-between">
                    <h6>Writing</h6>
                    <h6>7.0/9.0</h6>
                  </div>
                  <div class="progress-bar">
                    <div class="progress-percent progress-percent4"></div>
                  </div>
                </div>
                <!--!progress-bar 5-->
                <div class="project-progress pr-prog-bar4 d-flex flex-direction-column">
                    <div class="progress-top d-flex justify-between">
                      <h6>Overall</h6>
                      <h6>6.5/9.0</h6>
                    </div>
                    <div class="progress-bar">
                      <div class="progress-percent progress-percent4"></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <!--!Second column of Row 1-->
          <div class="row-prof2 ">
            <!--!User Settings-->
            <div class="user-setting margin-row-prof shadow-edit">
              <div class="user-setting-head project-head">
                <h6>Thông tin cá nhân</h6>
              </div>
              <div class="user-setting-body project-body">
                <form>
                  <!--row1-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="username"><strong>Họ tên</strong></label>
                      <p class="form-control-prof" type="text" id="username" placeholder="VD: Nguyễn Văn A"
                        name="username">
                        {{data[1]}}
                      </p>
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="email"><strong>Địa chỉ</strong></label>
                      <p class="form-control-prof" type="email" id="email" placeholder="user@example.com"
                        name="emailAdress">
                        {{data[4]}}
                      </p>
                    </div>
                  </div>
                  <!--row2-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="age"><strong>Ngày Sinh</strong></label>
                      <p input class="form-control-prof" type="text" id="age" placeholder="VD: 19" name="age">
                        {{data[2]}}
                      </p>
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Số điện thoại</strong></label>
                      <p class="form-control-prof" type="text" id="nuber-phone" placeholder="VD: 09832xxx" name="nuber-phone">
                        {{data[3]}}
                      </p>
                    </div>
                  </div>
                  <!--row3-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Giới tính</strong></label>
                      <p class="form-control-prof" type="text" id="nuber-phone" placeholder="VD: 09832xxx" name="nuber-phone">
                        {{data[5]}}
                      </p>
                    </div>
                  </div>
                  <!-- <div class="form-row">
                    <div class="form-row-button">
                      <button class="button-profile" type="button">Lưu thay đổi</button>
                    </div>
                  </div> -->
                </form>
              </div>

            </div>
            <!-- !Contact Settings -->
            <div class="contact-setting margin-row-prof shadow-edit">
              <div class="user-setting-head project-head">
                <h6>Contact Settings</h6>
              </div>
              <div class="user-setting-body project-body">
                <form>
                  <!--row1-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col2 d-flex flex-direction-column">
                      <label class="form-label" for="username"><strong>Address</strong></label>
                      <input class="form-control-prof" type="text" id="username" placeholder="Sunset Blvd, 38"
                        name="username">
                    </div>
                  </div>
                  <!--row2-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="firstname"><strong>City</strong></label>
                      <input class="form-control-prof" type="text" id="firstname" placeholder="Los Angeles"
                        name="firstname">
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Country</strong></label>
                      <input class="form-control-prof" type="text" id="lastname" placeholder="USA" name="lastname">
                    </div>
                  </div>
                  <!--row3-->
                  <div class="form-row">
                    <div class="form-row-button">
                      <button class="button-profile" type="button">Save Settings</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!--!        Forum Settings      -->
        <div class="form-set-row">
          <div class="form-padding-row">
          <div class="from-setting-container shadow-edit">
            <!--Header-->
            <div class="project-head earning-header d-flex justify-between">
              <h6 class="earning-header-text">Forum Settings</h6>
            </div>
            <!--body-->
            <div class="user-setting-body project-body">
              <form>
                <!--row1-->
                <div class="form-row form-row-col2 d-flex justify-between">
                  <div class="form-row-textarea d-flex flex-direction-column margin-column-form">
                    <label class="form-label" for="signature"><strong>Signature</strong></label>
                    <textarea class="form-control-prof" name="signature" id="signature" cols="30" rows="10"></textarea>
                  </div>
                </div>
                <!--row2-->
                <div class="form-row margin-row-prof d-flex justify-between">
                  <div class="switch form-row-col d-flex ">
                    <input id="switch-1" type="checkbox" class="switch-input" />
                    <label for="switch-1" class="switch-label">Notify me about new replies</label>
                    <label for="switch-1" class="switch-label2">Notify me about new replies</label>
                  </div>
                </div>
                <!--row3-->
                <div class="form-row">
                  <div class="form-row-button">
                    <button class="button-profile" type="button">Save Settings</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <footer>
          <span>Copyright © Brand 2021</span>
        </footer>
      </div>

    </div>



  </div>

  <a class="page-up-fixed" href="#page-top"><i class="fas fa-angle-up"></i></a>

  </div>

</body>

</html>